*.rbc
capybara-*.html
library_backend/db/*.sqlite3
library_backend/db/*.sqlite3-journal
library_backend/db/*.sqlite3-[0-9]*
library_backend/public/system
library_backend/coverage/
library_backend/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
library_backend/log/*
library_backend/tmp/*
!library_backend/log/.keep
!library_backend/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
library_backend/config/initializers/secret_token.rb
library_backend/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env*.local

## Environment normalization:
library_backend/.bundle
library_backend/vendor/bundle

# Ignore node_modules
library_backend/node_modules/

# Ignore precompiled javascript packs
library_backend/public/packs
library_backend/public/packs-test
library_backend/public/assets


# Ignore uploaded files in development
library_backend/storage/*
!library_backend/storage/.keep
library_backend/public/uploads


# Logs
library_frontend/logs
library_frontend/*.log
library_frontend/npm-debug.log*
library_frontend/yarn-debug.log*
library_frontend/yarn-error.log*
library_frontend/lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
library_frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
library_frontend/pids
library_frontend/*.pid
library_frontend/*.seed
library_frontend/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
library_frontend/lib-cov

# Coverage directory used by tools like istanbul
library_frontend/coverage
library_frontend/*.lcov

# nyc test coverage
library_frontend//.nyc_output

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
library_frontend/build/Release

# Dependency directories
library_frontend/node_modules/
library_frontend/jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
library_frontend/web_modules/


# Optional npm cache directory
library_frontend/.npm

# Optional eslint cache
library_frontend/.eslintcache

# Optional stylelint cache
library_frontend/.stylelintcache

# Optional REPL history
library_frontend/.node_repl_history

# Output of 'npm pack'
library_frontend/*.tgz

# Yarn Integrity file
library_frontend/.yarn-integrity

# dotenv environment variable files
library_frontend/.env
library_frontend/.env.*
library_frontend/!.env.example

# parcel-bundler cache (https://parceljs.org/)
library_frontend/.cache
library_frontend/.parcel-cache


# vitepress build output
library_frontend/**/.vitepress/dist

# vitepress cache directory
library_frontend/**/.vitepress/cache

# Docusaurus cache and generated files
library_frontend/.docusaurus

# Serverless directories
library_frontend/.serverless/

# FuseBox cache
library_frontend/.fusebox/


# TernJS port file
library_frontend/.tern-port

# yarn v3
library_frontend/.pnp.*
library_frontend/.yarn/*
!library_frontend/.yarn/patches
!library_frontend/.yarn/plugins
!library_frontend/.yarn/releases
!library_frontend/.yarn/sdks
!library_frontend/.yarn/versions

# Vite files
library_frontend/vite.config.js.timestamp-*
library_frontend/vite.config.ts.timestamp-*
library_frontend/.vite/
